.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #23282e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}

