<app-navbar></app-navbar>

<div class="mt-8 mx-5 lg:mx-7 xl:mx-20">

    <div class="grid grid-cols-4 gap-x-3">

        <div class="col-span-3">

            <!-- Search form-->
          <form class="form relative" [formGroup]="form"
                style="background-image: url('assets/images/search-background.jpg');">
            <h1 class="pt-4 font-bold text-center text-blue-200 text-4xl"
                [ngStyle]="{'padding-top': '20px'}">
              Pesquisar <span class="text-amber-200">Leitores</span>
            </h1>

            <mat-form-field class="relative full-width px-4 py-2 bg-fixed box-shadow grid grid-cols-5" >
                    <mat-label class="w-4/5 tracking-wider">Digite o nome do Leitor/Usuário </mat-label>
                    <input matInput formControlName="userName">

                    <button class="absolute z-5 -top-[-1px] -right-4 grid grid-flow-col auto-cols-max align-middle items-center content-center h-[56px] bg-green-600
                                    text-white font-semibold tracking-wider px-4 hover:bg-green-700 transition-all"
                            id="search-button"
                            (click)="onSubmit()"
                            (change)="onChange()"
                    >
                        <mat-icon>search</mat-icon>
                        <p class="tracking-wider" [ngStyle]="{'margin': '0'}">Pesquisar </p>
                    </button>
                    <mat-error class="text-cyan-300"> Formato incorreto. Você deve especificar o nome e  ou Sobrenome. Exemplo: "Alice Shuman ..."</mat-error>
                </mat-form-field>

            <div *ngIf="nomeNaoEncontrado" class="text-red-500">
              Nome não encontrado.
            </div>
            </form>


            <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-3 gap-y-4">
                <app-search-user-card
                    *ngFor="let profile of profiles"
                    [profile]="profile"
                    [subscribedIds]="subscribedIds == null ? [] : subscribedIds"
                    [ownId]="ownId"
                ></app-search-user-card>
            </div>
        </div>
    </div>
</div>
