<form [formGroup]="form" (ngSubmit)="submit()" class="max-w-2xl m-auto pb-3">

    <p class="col-span-2">
       Outros perfis saberão que você alterou a localização.
    </p>

    <span class="px-4 pt-2 grid grid-cols-2 gap-x-3 gap-y-1 max-w-2xl">
        <mat-form-field>
            <mat-label> País atual</mat-label>
            <input matInput type="text" name="currentCountry" formControlName="currentCountry" >
            <mat-error> País é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Cidade atual</mat-label>
            <input matInput type="text" name="currentCity" formControlName="currentCity" >
            <mat-error> Cidade é obrigatória.</mat-error>
        </mat-form-field>
    </span>

    <mat-divider></mat-divider>

    <span class="px-4 pt-2 grid grid-cols-2 gap-x-3 gap-y-1 max-w-2xl">
        <mat-form-field>
            <mat-label> País natal</mat-label>
            <input matInput type="text" name="bornCountry" formControlName="bornCountry" >
            <mat-error> País natal é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Cidade natal</mat-label>
            <input matInput type="text" name="bornCity" formControlName="bornCity" >
            <mat-error> Cidade natal é obrigatória.</mat-error>
        </mat-form-field>
    </span>

    <span
        class="flex justify-center font-semibold mb-2"
        *ngIf="hasResponse"
        [ngClass]="{
            'text-red-500' : hasError,
            'text-blue-500': !hasError
        }"
    >
        {{ responseMessage }}
    </span>

    <div class="flex justify-center">
        <button
            mat-raised-button
            style="background-color: #4b954f; color: white"
            class="mt-2 btn-block tracking-wider w-1/2 flex m-auto"
            type="submit"
        > Salvar alterações </button>
    </div>

</form>
