<form [formGroup]="form" (ngSubmit)="submit()" class="max-w-2xl m-auto pb-3">
    <h3 class="pt-3 mb-1"> Informações </h3>

    <p class="col-span-2">
        Ao alterar o e-mail , o novo e-mail será necessário para o Login.
    </p>

    <span class="px-4 pt-2 grid gap-x-3 gap-y-1 max-w-2xl">
        <mat-form-field>
            <mat-label> Nome</mat-label>
            <input matInput type="text" name="firstName" formControlName="firstName" >
            <mat-error> Nome é obrigatório</mat-error>
        </mat-form-field>

        
        <mat-form-field>
            <mat-label> Sobrenome</mat-label>
            <input
                matInput 
                type="text" 
                placeholder=""
                formControlName="lastName"
            >
            <mat-error> Sobrenome é obrigatório.</mat-error>
        </mat-form-field>


        <mat-form-field>
            <mat-label> Gênero </mat-label>
            <mat-select formControlName="gender">
                <mat-option value="male"> Masculino</mat-option>
                <mat-option value="female"> Feminino</mat-option>
                <mat-option value="other"> Outros</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Data de nascimento</mat-label>
            <input
                matInput
                [matDatepicker]="picker"
                formControlName="dob"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error> formato da data inválido</mat-error>
        </mat-form-field>

        
        <mat-form-field class="col-span-2">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" />
            <mat-error> Formato do e-mail Inválido</mat-error>
        </mat-form-field>


        <mat-form-field class="col-span-2">
            <mat-label> Número do telefone</mat-label>
            <input 
                matInput
                appOnlyNumbers
                type="text" 
                formControlName="phoneNumber"
                maxlength="10"
            >
            <mat-error> O número do telefone requer 10 números </mat-error>
        </mat-form-field>
    </span>

    <span 
        class="flex justify-center font-semibold mb-2"
        *ngIf="hasResponse"
        [ngClass]="{
            'text-red-500' : hasError,
            'text-blue-500': !hasError
        }"
    >
        {{ responseMessage }}
    </span>

    <div class="flex justify-center">
        <button 
            mat-raised-button 
            color="primary" 
            class="mt-2 btn-block tracking-wider w-1/2 flex m-auto" 
            type="submit"
        > Salvar alterações</button>
    </div>
</form>
